{% extends 'base.html' %}

{% block head %}
<title> flask </title>
{% endblock %}
{% block body %}
<div class="content">
    <h4 class="phil">This is a simple CRUD APP built by <b><a style="color: white;" href="https://www.linkedin.com/in/nkwam-philip">Nkwam Philip</a></b> with <br> <li>Flask Light Server Framework</li>
        <li>Html & Css</li><br> Clickable link above</h4>
    <div class="cont">
        <h1 style="text-align: center; color: white; align-items: center;">Task Manager</h1>
        {% if tasks|length < 1 %}
        <h4 style="text-align: center;"> There are no tasks, Create one below</h4>
        {% else %}
        <table>
            <tr>
                <th>Task</th>
                <th>Added</th>
                <th>Actions</th>
            </tr>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.content }}</td>
                    <td>{{task.date_created.date()}}</td>
                    <td>
                        <a style="font-size: medium; color: white;" href="/delete/{{task.id}}">Delete</a>
                        <br>
                        <a style="font-size: medium; color: white;" href="/update/{{task.id}}">Update</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}
        <div class="form">
            <form action="/" method="POST">
                <input class="type-1" type="text" name="content" id="content">
                <input class="type-2" type="submit" value="Add Task">
            </form>
        </div>
    </div>
</div>
{% endblock %}